$brand-color: #1d70b8;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

body .govuk-main-wrapper {
    padding-top: 0px;
  }
  
body .x-govuk-masthead {
  margin-bottom: 20px;
}

.x-govuk-sub-navigation {
  padding-top: 20px;
}
@media (min-width: 40.0625em) {
    body .x-govuk-masthead {
        margin-bottom: 40px;
      }
      
      .x-govuk-sub-navigation {
        padding-top: 40px;
      }
  }

.govuk-header {
  background-color: #f1f1f1;

  .govuk-header__link,
  .govuk-header__link:visited {
    color: #15141a;
  }

  .govuk-header__logo img {
    vertical-align: bottom;
  }
}

// Allows feedback banner to have correct bottom margin.
.x-govuk-masthead {
  margin-top: 0;
}

/* When there is no phase banner overlay the bottom border of the header */
body .x-govuk-masthead:nth-child(4) {
  margin-top: -10px;
}

.flex-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div {
    border: 1px solid $brand-color;
    padding: 1% 1% 2% 1%;
    width: 30%;
    margin-bottom: 2%;
    display: flex;
    flex-flow: column nowrap;

    a {
      margin-top: auto !important;
      align-self: flex-end;
    }
  }

  &.animated-border > div {
    border: none;
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle), #fff, #fff, #fff),
      conic-gradient(
        from var(--border-angle),
        $brand-color 33%,
        transparent 1%,
        $brand-color
      );
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 3s linear infinite;
    animation-play-state: paused;

    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }

    &:hover {
      animation-play-state: running;
    }

    & .x-govuk-button--inverse {
      margin-top: 0px;
    }
  }
}

.no-presentation {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 840px) {
  .flex-items > div {
    width: 44%;
    padding: 2%;
  }

  body:before {
    bottom: 35%;
    font-size: 6em;
  }
}
@media (max-width: 415px) {
  .flex-items > div {
    width: 100%;
    padding: 3%;
  }

  body:before {
    bottom: 40%;
    font-size: 7em;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
