$brand-color: #1d70b8;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

body:before {
  content: "DRAFT";
  position: fixed;
  bottom: 40%;
  display: block;
  width: 100%;
  font-size: 10em;
  text-align: center;
  opacity: 0.2;
  color: black;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  pointer-events: none;
}

body .govuk-main-wrapper {
    padding-top: 20px;
  }


.govuk-header {
  background-color: #f1f1f1;

  .govuk-header__link,
  .govuk-header__link:visited {
    color: #15141a;
  }

  .govuk-header__logo img {
    vertical-align: bottom;
  }
}

.flex-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div {
    border: 1px solid $brand-color;
    padding: 1% 1% 2% 1%;
    width: 45%;
    margin-bottom: 2%;
    display: flex;
    flex-flow: column nowrap;

    a {
      margin-top: auto !important;
      align-self: flex-end;
    }
  }

}

@media (max-width: 840px) {
  .flex-items > div {
    width: 44%;
    padding: 2%;
  }

  body:before {
    bottom: 35%;
    font-size: 6em;
  }
}
@media (max-width: 415px) {
  .flex-items > div {
    width: 100%;
    padding: 3%;
  }

  body:before {
    bottom: 40%;
    font-size: 7em;
  }
}
